<form [formGroup]="form">
    <h2 mat-dialog-title>Update this job listing</h2>
    <mat-dialog-content class="mat-typography">

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Enter a job title" formControlName="listingName" required>
                <mat-icon matPrefix>person</mat-icon>
                <!-- <mat-hint>e.g. Software Engineer</mat-hint> -->
                <mat-error *ngIf="form.controls['listingName'].hasError('required')">
                    Job title is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>


        <p>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Enter the company name" formControlName="company" required>
                <mat-icon matPrefix>business_center</mat-icon>
                <!-- <mat-hint>e.g. Google</mat-hint> -->
                <mat-error *ngIf="form.controls['company'].hasError('required')">
                    Company is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>


        <p>
            <mat-form-field appearance="outline">
                <mat-label>Industry</mat-label>
                <input matInput placeholder="Enter the industry" formControlName="industry" required>
                <mat-icon matPrefix>work</mat-icon>
                <!-- <mat-hint>e.g. Information Technology</mat-hint> -->
                <mat-error *ngIf="form.controls['industry'].hasError('required')">
                    Industry is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>


        <p>
            <mat-form-field appearance="outline">
                <mat-label>Employment Type</mat-label>
                <mat-select formControlName="employmentType" required>
                    <mat-option *ngFor="let type of employmentTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-icon matPrefix>settings_remote</mat-icon>
                <mat-error *ngIf="form.controls['employmentType'].hasError('required')">
                    Employment type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Salary</mat-label>
                <input matInput placeholder="Enter salary" formControlName="salary" type="text"
                    mask="separator.0" thousandSeparator="," required>
                <mat-icon matPrefix>attach_money</mat-icon>
                <!-- <mat-hint>e.g. 75000</mat-hint> -->
                <mat-error *ngIf="form.controls['salary'].hasError('max')">
                    Salary should be less than or equal to <strong>500,000</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['salary'].hasError('min')">
                    Salary should be greater than or equal to <strong>0</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['salary'].hasError('required')">
                    Salary is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Enter city" formControlName="city" required>
                <mat-icon matPrefix>location_city</mat-icon>
                <!-- <mat-hint>e.g. Atlanta</mat-hint> -->
                <mat-error *ngIf="form.controls['city'].hasError('required')">
                    City is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" required>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <mat-icon matPrefix>location_on</mat-icon>
                <mat-error *ngIf="form.controls['state'].hasError('required')">
                    State is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>

        <!-- <p *ngFor="let question of questions.controls; index as i" formArrayName="questions">
            <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <mat-icon matPrefix>question_answer</mat-icon>
                <input type="text" matInput placeholder="Question" [formControlName]="i" required />
                <button mat-button [disabled]="questions.controls.length === 1" (click)="deleteQuestion(i)" matSuffix
                    mat-icon-button aria-label="Clear">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint>
                    Question for your applicant's to answer
                </mat-hint>
                <mat-error *ngIf="question.hasError('required')">
                    Question is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <button (click)="addQuestion()" mat-button>Add Question</button> -->


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="this.form.value" [disabled]="form.status === 'INVALID'"
            color="accent">Update</button>
    </mat-dialog-actions>
</form>