<div class="wrapper">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput placeholder="Enter a job title">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput placeholder="Enter a company name">
            <mat-icon matSuffix>work</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <app-salary-slider></app-salary-slider>
    </p>
    <button mat-raised-button color="primary">Search</button>
</div>