<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homePage()">
            <app-github-icon></app-github-icon>
        </button>
        <span>Job Lister</span>
        <span class="example-spacer"></span>
        <span>Post a job</span>
        <button mat-icon-button class="create-listing" aria-label="Add listing button" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>